@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url("../fonts/materialsymbolsrounded.woff2") format("woff2");
}
.msr {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/*$success:       $green;
$info:          $cyan;*/
/*$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075);
$element-shadow:              $box-shadow;*/
/*$top-tagbar-bg-dark: $blue-600;
$topbar-search-bg-dark: $gray-800;*/
#page-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1054;
  background-color: var(--jp-header-bg);
  border-bottom: 1px solid var(--jp-header-border);
  transition: all 0.1s ease-out;
}
@media (min-width: 768px) {
  #page-topbar {
    left: var(--jp-sidebar-width);
  }
}

.navbar-header {
  height: 70px;
  padding: 0 1.5rem 0 0.75rem;
}
.navbar-header .dropdown .show.header-item {
  background-color: var(--jp-gray-100);
}

.page-content {
  padding: calc(70px + 1.5rem) calc(1.5rem * 0.75) 60px calc(1.5rem * 0.75);
}

.header-item {
  height: 70px;
  box-shadow: none !important;
  color: var(--jp-header-item-color);
  border: 0;
  border-radius: 0px;
}
.header-item:hover {
  color: var(--jp-header-item-color);
}

.icon-lg {
  height: 20px;
  width: 20px;
}

.layout-mode-light {
  display: none;
}

html[data-bs-theme=dark] .layout-mode-dark {
  display: none;
}
html[data-bs-theme=dark] .layout-mode-light {
  display: inline-block;
}

.app-menu {
  width: 250px;
  z-index: 1001;
  background: var(--jp-sidebar-menu-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 0;
  border-right: 1px solid var(--jp-sidebar-border-color);
  transition: all 0.1s ease-out;
}
.app-menu .sidebar-nav .menu-title {
  cursor: default;
  font-size: 11px;
  font-weight: 600;
  color: var(--jp-sidebar-menu-title-color);
  text-transform: uppercase;
  font-weight: 600;
}
.app-menu .sidebar-nav .menu-title span {
  padding: 12px 20px;
  display: inline-block;
}
.app-menu .sidebar-nav .sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: var(--jp-sidebar-menu-item-color);
  font-size: 0.925rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.4s;
}
.app-menu .sidebar-nav .sidebar-link.active {
  color: var(--jp-sidebar-menu-item-active-color);
  background-color: var(--jp-sidebar-menu-item-active-bg);
  font-weight: 500;
}
.app-menu .sidebar-nav .sidebar-link.active:hover {
  color: var(--jp-sidebar-menu-item-active-color);
}
.app-menu .sidebar-nav .sidebar-link:hover {
  color: var(--jp-sidebar-menu-item-hover-color);
}
.app-menu .sidebar-nav .sidebar-link[data-bs-toggle=collapse]::after {
  display: block;
  content: "\e5cc";
  font-family: "Material Symbols Rounded";
  margin-left: auto;
  transition: transform 0.2s;
  font-size: 1.05rem;
  position: absolute;
  right: 18px;
  color: inherit;
}
.app-menu .sidebar-nav .sidebar-link[data-bs-toggle=collapse][aria-expanded=true]:after {
  transform: rotate(90deg);
}
.app-menu .sidebar-nav .sidebar-link[data-bs-toggle=collapse][aria-expanded=true]:before {
  opacity: 1;
}
.app-menu .sidebar-nav .sidebar-link.collapsed.active::after {
  transform: rotate(90deg);
}
.app-menu .sidebar-nav .sidebar-link span.msr {
  display: inline-block;
  min-width: 1.75rem;
  font-size: 18px;
  line-height: inherit;
}
.app-menu .sidebar-nav .sidebar-submenu {
  padding-left: 1.75rem;
}
.app-menu .sidebar-nav .sidebar-submenu .sidebar-link {
  font-size: 0.8125rem;
}

.navbar-brand-box {
  padding: 0 1.3rem;
  text-align: center;
  transition: all 0.1s ease-out;
}
.navbar-brand-box a {
  color: var(--jp-body-color);
}
@media (max-width: 767.98px) {
  .navbar-brand-box {
    display: none;
  }
}

.logo {
  line-height: 70px;
}
.logo .logo-sm {
  display: none;
}

.main-content {
  margin-left: 250px;
  overflow: hidden;
}
.main-content .content {
  padding: 0 15px 10px 15px;
  margin-top: 70px;
}

#sidebar-menu {
  padding: 10px 0 30px 0;
}
#sidebar-menu .mm-active > .has-arrow:after {
  transform: rotate(90deg);
}
#sidebar-menu .has-arrow:after {
  content: "\f0142";
  font-family: "Material Design Icons";
  display: block;
  float: right;
  transition: transform 0.2s;
  font-size: 1.1rem;
  margin-right: -5px;
  margin-top: -2px;
}
#sidebar-menu .menu-title {
  padding: 12px 20px !important;
  pointer-events: none;
  cursor: default;
  font-size: 12px;
  color: var(--jp-sidebar-menu-item-icon-color);
  font-weight: 500;
}

:root, [data-bs-theme=light] {
  --jp-header-bg: #fff;
  --jp-header-item-color: var(--jp-header-item-color);
  --jp-header-item-sub-color: var(--jp-secondary-color);
  --jp-header-border: #e9ebec;
  --jp-sidebar-width: 250px;
  --jp-sidebar-menu-bg: #fbfaff;
  --jp-sidebar-menu-title-color: #919da9;
  --jp-sidebar-menu-item-color: #545a6d;
  --jp-sidebar-menu-sub-item-color: #545a6d;
  --jp-sidebar-menu-item-icon-color: #545a6d;
  --jp-sidebar-menu-item-icon-effact-color: rgba(84, 90, 109, 0.2);
  --jp-sidebar-menu-item-hover-color: #3449bc;
  --jp-sidebar-menu-item-hover-effact-color: rgba(81, 86, 190, 0.2);
  --jp-sidebar-menu-item-active-color: #fff;
  --jp-sidebar-menu-item-active-effact-color: rgba(81, 86, 190, 0.2);
  --jp-sidebar-border-color: #e9ebec;
  --jp-sidebar-menu-item-active-color: #fff;
  --jp-sidebar-menu-item-active-bg:#011CAB;
  --jp-sidebar-alert: rgba(81, 86, 190, 0.1);
  --jp-input-bg-custom: #eff2f7;
  --jp-input-border-custom: #ced4da;
}

[data-bs-theme=dark] {
  --jp-header-bg: #121517;
  --jp-header-item-color: #e9ecef;
  --jp-header-item-sub-color: #8795ab;
  --jp-header-border: #1e2226;
  --jp-sidebar-menu-bg: #121517;
  --jp-sidebar-width: 250px;
  --jp-sidebar-menu-title-color: #5f6270;
  --jp-sidebar-menu-item-color: $sidebar-menu-item-color-dark;
  --jp-sidebar-menu-sub-item-color: #99a4b1;
  --jp-sidebar-menu-item-icon-color: #99a4b1;
  --jp-sidebar-menu-item-hover-color: #3449bc;
  --jp-sidebar-menu-item-active-color: #fff;
  --jp-sidebar-menu-item-active-bg: #011CAB;
  --jp-sidebar-border-color: #1e2226;
  --jp-input-bg-custom: #121517;
  --jp-input-border-custom: #1e2226;
  --jp-light: #18191a;
}
[data-bs-theme=dark] .table-light {
  --jp-table-color: white;
  --jp-table-bg: var(--jp-light);
  --jp-table-border-color: var(--jp-border-color);
  --jp-table-striped-bg: var(--jp-light);
  --jp-table-striped-color: white;
  --jp-table-active-bg: var(--jp-light);
  --jp-table-active-color: white;
  --jp-table-hover-bg: var(--jp-light);
  --jp-table-hover-color: white;
}

a {
  text-decoration: none !important;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

b, strong {
  font-weight: 600;
}

.card {
  box-shadow: 0 3px 3px rgba(56, 65, 74, 0.1);
}

.table-card {
  margin: -1rem -1rem;
}
.table-card th:first-child,
.table-card td:first-child {
  padding-left: 16px;
}
.table-card th:last-child,
.table-card td:last-child {
  padding-right: 16px;
}
.table-card .table > :not(:first-child) {
  border-top-width: var(--jp-border-width);
}

#datatable_wrapper > div:first-child {
  padding: 4px 16px 0 16px;
}
#datatable_wrapper > div:last-child {
  padding-left: 16px;
  padding-right: 16px;
}

.avatar-xs {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem;
}

.login-bg {
  background-image: url("../images/login-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid var(--jp-gray-700);
}
@media (min-width: 768px) {
  .login-bg {
    height: 100vh;
  }
}

.login-page-content {
  min-height: 100vh;
}

